{% extends "layout.html" %}
{% block body %}
<header class="container">
    <h1>Wandering Stars API</h1>
</header>
<div class="container">
<h2>Welcome</h2>
<p>This site hosts the Wandering Stars API, a simple REST API that gives the altitude and azimuth of the following solar system objects:</p>
<ul>
    <li>The Sun</li>
    <li>The Moon</li>
    <li>The planets (excluding Earth)</li>
    <li>The Gililean satelites (coming soon)</li>
</ul>
<p>In addition, metadata are returned that give:</p>
<ul>
    <li>The latitude and longitude of the request</li>
    <li>The time of the request in local time and UTC</li>
    <li>The timezone for the latitude and longitude of the request (areas not in any country (e.g. those at sea), will return "null")</li>
</ul>
<p>The API can be accessed by sending a get request to /api/latitude/longitude, e.g. api/50.7/-3.5 for Exeter, Devon, UK.</p>
</div>
<footer class="container">
    <p>Stephen Ball, {{year}}.</p>
</footer>
{% endblock %}